$bg-img: image-url('login_bg.svg');
$login-bg-size: 55% auto;

.login-page {
   .login-pf {
    background-image: $bg-img;
    background-size: $login-bg-size;
    background-color: #202020;
    background-repeat: no-repeat;

    .login-pf-brand {
      margin-top: 150px;
      margin-right: 15%;
      max-width: none;
    }
  }
}
