@import "colors";

$bg-img: image-url('login_bg.jpg');
$screen-sm-min: 768px;
$login-bg-size: 100% auto;

.login-pf {
  body {
    background: $login-bg-color;

    .login-page {
      background: $login-bg-color;
      background-image: $bg-img;
      background-size: $login-bg-size;
      color: $login-color;

      #brand {
        top: -40px;
        height: 40px;

        img {
          height: 19px;
          max-width: 100%;
        }
      }

      #badge {
        margin: 0 auto 70px;
        padding-top: 20px;

        img {
          width: 137px;
        }

        @media (min-width: $screen-sm-min) {
          margin-right: 64px;
          margin-top: 50px;
        }
      }
    }
  }
}
