.navbar-brand {
  height: inherit;
}

.navbar-brand-txt {
  visibility: hidden;
}

.navbar .nav .org-switcher > a {
  font-size: 14px;

  .caret {
    margin-left: 20px;
  }
}

.navbar-brand img {
  width: 141px;
}

.navbar-pf-vertical {
  background: image-url('theme-navbar.png');
  background-size: cover;
}
