@import "colors";

.navbar-brand {
  height: inherit;
}

.navbar .nav .org-switcher > a {
  font-size: 14px;

  .caret {
    margin-left: 20px;
  }
}

.navbar-brand img {
  height: 10px;
  width: 141px;
  margin-top: 13px;
}
