@import  "/usr/share/foreman/app/assets/stylesheets/topbar.scss";
@import "colors";

.navbar-brand {
  height: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $navbar-default-link-active-color;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus{
  color: $navbar-default-link-hover-color
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .open > a {
  color: $navbar-default-link-color;
}

.navbar-outer {
  background-color: $primary_color;
  border-color: darken($primary_color, 5%);
  border-top: 3px solid #cc0000;
  white-space: nowrap;
}

